---
title: "Det kan lade sig gøre"
description: "Du har valgt at lave en unik software-løsning, men hvad nu?"
---

- content_for :masthead do
  .container
    h1 Det kan lade sig gøre

- masthead_image("v1571996338/substancelab-website/vacation.jpg")

article
  .container
    .article-intro
      | I 2009 så Mogens Birk en trussel mod sin eksisterende forretning; et mindre booking-bureau med en række kunstnere i stald. Han indså, at i den nærmeste fremtid ville hans kunder begynde at finde og booke hans kunstnere direkte via internettet, uden om booking bureauet.

    markdown:
      Mogens tog et dramatisk valg; han ville lave den internet-tjeneste, som kunne udkonkurrere hans eksisterende forretning. Idéen om Eventzonen var født.

      Men det var nyt territorie for Mogens. Som de fleste firma-ejere havde han ikke lavet en internet-tjeneste før og havde begrænsede midler til at investere i projektet. Samtidigt vidste han, at han ikke kunne spise kunstnerne af med noget halvhjertet; tingene skulle være i orden.

      Derfor kontaktede han Substance Lab. Vi tog de oprindelige skitser og idéer og forvandlede dem til et roadmap med de ønskede features brudt ned i bidder og prioriteret, så de vigtigste problemer blev løst først, og det der kunne vente, ventede.

      10 år senere er Eventzonen en solid forretning, der formidler tusindvis af kunstnere i 4 forskellige lande og står bag underholdning til flere hundrede arrangementer hver eneste måned. Og det er stadig den samme løsning, som er blev bygget tilbage i 2009, der danner fundamentet for forretningen.

      ## Kontinuerlige forbedringer

      Mogens' historie er ikke unik, alligevel er han lykkedes med sin forretning, hvor mange andre er fejlet. Et aktivt valg om at tage projektet lidt af gangen har gjort forskellen.

      At splitte opgaven op i stadig mindre bidder gør det muligt at tage de første små skridt, lancere noget til verden, tage det næste lille skridt, lancere det, og derefter vende tilbage og forbedre de første man lavede osv osv. Viser det sig, at et skridt var i den forkerte retning, er det nemt at gå tilbage og igen være på rette kurs.

      Små, kontinuerlige ændringer, der forbedrer løsningen hver eneste uge minimerer risikoen for at bygge noget, der ikke kan bruges eller sælges. 

      ## Vi guider dig

      Vi ved, at du har en stor, uoverskuelig opgave foran dig. At bygge en virksomhed er en stor opgave - hvad end det er online eller ej. Der er bunkevis af spørgsmål og usikkerheder, der skal afklares; hvad skal virksomheden hedde, hvad skal tjenesten koste, og meget mere.

      Og den kravspecifikation, du har skrevet, hjælper dig ikke. Den er bare endnu et dokument med en alt for lang liste af alt for indviklede opgaver, som du ikke kan finde hoved og hale på.

      Du har brug for en plan; et kort der viser dig vej gennem labyrinten af feature-ønsker, tekniske krav, administrative opgaver og hen til det punkt, hvor du har noget reelt fungerende, som du kan begyndes at vise frem til dine kunder.

      Og du har brug for en teknisk partner, der kan realisere planen på en måde, hvor du ikke mister overblikket eller pludseligt ender med at være gået milevidt i den forkerte retning.
