---
title: "Hvor skal du starte?"
description: "Du har valgt at lave en unik software-løsning, men hvad nu?"
---

- content_for :masthead do
  .container
    h1 Hvor skal du starte?

- masthead_image("/images/articles/question_marks_on_trees.jpg")

article
  .container
    .article-intro
      | Du har en forretningsidé, du har kunderne, og du har valgt at udvikle dit software fra bunden. Men nu dukker spørgsmålene for alvor op.

    markdown:
      ## Hvilket programmeringssprog skal jeg vælge?

      Spørgsmålet om valg af programmeringssprog er interessant. På den ene side er det konkrete programmeringssprog irrelevant, og på den anden side kan det være kritisk. Du kan dog være helt sikker på, at dine kunder er absolut ligeglade med hvilket programmeringssprog, din løsning er skrevet i.

      Der findes desværre ingen facitlister, hvor man kan se, hvilket programmeringssprog, der er bedst til hvilke opgaver. Alle programmører vil have deres egne favoritter.

      Det vigtige for dig er at din løsning bliver så simpel som muligt, så let at ændre som muligt, og så let at vedligeholde som muligt. Nogle vil måske fremhæve skalérbarhed som en væsentlig parameter, men så længe du har en begrænset mængde kunder, er det ikke en relevant parameter.

      Lad det være op til udvikleren at vælge programmeringssproget, men spørg ind til bevæggrundene og tag ikke alt for gode varer. Programmører har tilbøjelighed til at blive forført af det sidste nye, og det er sjældent at det kan betale sig.

      Men vigtigst af alt er at der er tale om et programmeringssprog, som udvikleren er tryg ved at udvikle i. Det betyder ikke nødvendigvis at de skal have mange års erfaring, dog - erfaring fra ét sprog kan typisk overføres til et andet.

      ## Hvem skal udvikle mit software?

      Når du leder efter en udvikler, er der mange faktorer at tage i betragtning. Pris er naturligvis én, tekniske evner er en anden, men mindst lige så vigtig er den menneskelige faktor.

      Du er ved at indgå et samarbejde med en eller flere personer, som skal have fingrene i maskinrummet på din virksomhed. Det er vigtigt, at du kan kommunikere med dem på en måde, der fungerer for dig, og at de forstår dig og din virksomhed.

      Hvis alt går vel, vil der være tale om et samarbejde, der varer ved i årevis. Din virksomhed er ingen døgnflue, så dit udviklings-team skal være med på den lange bane. Selv hvis samarbejdet ikke varer så lang tid, vil de valg, udvikleren har taget i opstartsfasen, være valg du skal leve med i mange år.

      ## Skal jeg ansætte?

      ## Skal jeg finde en teknisk partner?

      ## Hvor skal jeg starte?

      Du har allerede nu en lang ønskeliste til features, som du gerne vil have med i din løsning. De er helt sikkert alle sammen vigtige features, men de er ikke alle _lige_ vigtige.

      Det er svært at prioritere sine ønsker, men du er nødt til at dykke ned i essencen af din løsning og finde ud af, hvad er det reelt for et problem dine kunder vil betale dig for at løse.

      De features, der løser det problem, skal laves først. Alt andet kan komme bagefter, hvad end det er fakturering eller intro-video'er eller andet lir; det er sekundært.
