---
title: "De 3 veje frem"
description: "Hvad er dine muligheder, når du vil realisere din forretningsidé?"
---

- content_for :masthead do
  .container
    h1 De 3 veje frem

- masthead_image(cloudinary_image_url("v1571996163/substancelab-website/forking_forest_path.jpg", "t_masthead"))

article
  .container
    .article-intro
      | Som iværksætter med drømmen om at bygge en software-virksomhed melder spørgsmålet sig hurtigt; "hvordan dælen får jeg gjort min forretningsidé til noget, som mine kunder kan bruge? Jeg kan jo ikke programmere, hvad er mine muligheder?"


    markdown:
      Groft sagt, er der 3 veje, du kan vælge mellem:

      1. Den hostede softwareløsning
      2. Standardløsningen
      3. Den egen-udviklede løsning

      ## Hosted løsning

      At en software-løsning er hosted vil sige, at den ligge hos et andet firma ude i skyen et eller andet sted. Fordelen er at du ikke skal bekymre dig om noget andet end din forretning.

      Du kan tænke på det som at flytte i en lejlighed. Her er det, du har brug for, en vicevært, der sørger for at tingene fungerer, og er du heldig kan du endda få lov til at bestemme farver på væggene. Men du bor der bare, og har ikke rigtigt nogen indflydelse på, hvilke forbedringer, der ellers skal foretages.

      Her er den indledende investering mindst. Typisk kan du komme igang med nogle få klik; det er ofte bare et spørgsmål om at give leverandøren en e-mail adresse og et betalingskort-nummer. Men du skal være sikker på, at du kan leve med de valg, som leverandøren tager på dine vegne.

      ## Standardløsning

      Ud over de hostede løsninger findes der ofte standardløsninger, som du kan installere og selv vedligeholde på dine egne servere.

      Det kan sammenlignes med at flytte ind i et typehus. Huset er som det er, rummene og materialerne er bestemt, men du kan bo der fra dag ét og kan lave de ændringer, du har brug for.

      Ulemperne er på mange måder de samme, som ved den hostede løsning, men du får til gengæld mulighed for at ændre mere. Det har vi skrevet en [masse mere om](/articles/standard-loesninger/).

      ## Egen-udviklet løsning

      Har du særlige krav til din bolig, som ikke kan dækkes af et allerede bygget typehus er næste mulighed at bygge selv. På den måde kan du selv bestemme materialevalg, du behøver ikke have et bryggers, hvis du ikke har behovet og du kan tilbygge en vinkælder, hvis du synes.

      Det tilsvarende er gældende, når du udvikler dit software fra bunden. Du får muligheden for at bestemme hvordan alting skal være. Ulempen er, at du får ansvaret for at sørge for at alting er, som det skal være.

      Det er klart her, de bedste resultater ligger, men det kræver også en større indsats at komme derhen.

      ## Hvad skal du vælge

      Dit konkrete valg er naturligvis 100% afhængigt af din konkrete forretningsidé. Og det behøver ikke være enten/eller. Vi har kunder, der er startet på en hosted løsning indtil de var sikre på at have en gangbar forretning, hvorefter de fik udviklet en løsning, der matchede deres kunders behov på en prik.

      Der er ingen tvivl om, at en hosted løsning er klart den hurtigste, nemmeste, og billigste måde at komme i gang og at bygge fra bunden er den løsning, der giver mest fleksibilitet og mulighed for at tilpasse til netop din virksomhed.

      Hvis du vil lave en webshop, er det oplagt at kigge på et utal af de eksisterende løsninger, der findes.

      Har du mere specifikke behov, som de hostede løsninger ikke kan håndtere, så overvej om en eksisterende, egen-hosted standardløsning vil kunne tilpasses til dine behov.

      Har du allerede nu visionen om, hvordan din online tjeneste skal ende med at være, og ønsker du at kunne tilpasse oplevelsen til nøjagtigt dine behov, er du nok klar til at kigge nærmere på at bygge fra bunden.
