---
title: "Roadmapping er din vejviser"
description: "Med et roadmap i baghånden er du klar til at tage de første skridt mod din fremtidige succes-forretning."
---

- content_for :masthead do
  .container
    h1 Roadmapping er din vejviser

- masthead_image("v1571996793/substancelab-website/compass.jpg")

article
  .container
    .article-intro
      p Med en roadmapping session får du overblik over dit udviklingsprojekt og hvad der skal til for at skabe det fundament, du vil bygge din forretning på.

      p Det er det oplagte første skridt hen mod en stabil, vedvarende, egen-udviklet løsning.

    markdown:
      ## Det handler om forretningen

      Når vi laver [et roadmap](/services/roadmapping), tager vi udgangspunkt i dit firma, din forretningsmodel, og dine planer for fremtiden. Hvem er dine kunder? Hvordan bruger de din tjeneste, og hvordan giver den værdi for dem?

      Vi kombinerer ovenstående og du får en lang liste af de scenarier, hvor en person bruger tjenesten. Vi øger detaljegraden og sikrer os at det hele stadig giver mening for det endelige system.

      ## Hvad kan du bruge det til?

      Det endelige Roadmap er perfekt til det videre forløb, hvor du skal finde leverandører og snakke tidsplaner. Med et Roadmap giver du mulige leverandører de bedste forudsætning for at få fornemmelse af projektet, planlægge leverancer og udregne estimater.

      Du sparer tid og penge i den videre udvikling, da du med et roadmap allerede har gennemgået og vurderet, hvad der giver mest værdi at lave.

      Og så giver en roadmapping session dig mulighed for at gøre dine tanker konkrete sammen med de andre interessenter i projektet, og alting vurderes med et øje på de tekniske muligheder.

      Det er dit kort ud af labyrinten.

      ## Ingen binding

      Vi har ingen krav til eller forventning om, at et roadmap skal føre til mere. Det her er vores "første date" hvorefter vi kan gå hver til sit. Den endelige rapport kan du tage med til en hvilken som helst anden udvikler og de burde være i stand til at kunne sætte sig ind i din forretning og komme med estimater ud fra det.

      Det er klart, vi håber at du vælger os. Vi elsker at skabe nye løsninger og at samarbejde med kræsne kunder; og klarer du dig gennem en roadmapping session er du i den kategori. Og med et roadmap i hånden har vi de bedste forudsætninger for at kunne guide dig bedst muligt.

      Er du klar til at tage det første skridt?
