@import "compass/css3/columns"
@import "compass/css3/images"
@import "compass/css3/transition"
@import "settings"
@import "mixins/filled_section"

.lokalebasen
  article
    section
      background-size: cover

    .code
      background-image: url(/images/work/lokalebasen/code.jpg)
      +background-image(linear-gradient(top, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.5)), url(/images/work/lokalebasen/code.jpg))
      color: #dddddd
      +filled-section
      text-shadow: #000000 0 0 2px

    .code h2
      color: #ffffff

    .process
      +background-image(linear-gradient(top, rgba(244, 245, 237, 1), rgba(244, 245, 237, 0.6)), url(/images/work/lokalebasen/whiteboard.jpg))
      +filled-section

    .results
      +background-image(linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)))
      +filled-section

    .graph
      padding: 2em

    .graph-mask
      +transition(all 1s ease-out)
      overflow: hidden
      width: 0%

    .in .graph-mask
      width: 100%
