<div class="newsletter-signup">
  <h2>Følg med fra sidelinjen</h2>

  <p>
    Modtag ekspert-viden om at bygge digitale produkter og webløsninger direkte i
    din indbakke.
  </p>

  <%= localized_partial_if_present "layouts/mailerlite/signup_form.html.erb" %>

  <script>
    function ml_webform_success_5201786(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-5201786 .row-success").show(),r(".ml-subscribe-form-5201786 .row-form").hide()}
  </script>
  <img src="https://track.mailerlite.com/webforms/o/5201786/s9w9y9?v1640433765" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
  <script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>
</div>
