<p>As a recently graduated web developer Rasmus is ambitious and works with focus on delivering the best solution and the best product.</p>
<p>Whether it's complex projects or help optimizing existing systems, Rasmus is dedicated to the tasks at hand.</p>
