<p>Web developer, driven by both curiosity and an interest for code that leads to results.</p>
<p>With a background as a graphic designer Ole has a rare quality among programmers; creativity as well as coding skills.</p>
