@mixin separator-bottom
  border-bottom: 1px solid #caccc6
  padding-bottom: $spacing

@mixin separator-top
  border-top: 1px solid #caccc6
  padding-top: $spacing

// Use the separate an element from the one above it
@mixin separator
  +separator-top

