---
layout: layout
locale: da
title: "Remote Lead Developer"
description: ""
---
<% slot :hero do %>
  <div class="container">
    <h1>Lead Developer</h1>
    <div class="subtitle">Erfaren CTO/team lead as a Service</div>
  </div>
<% end %>

<% hero_image("v1571230808/substancelab-website/code-keyboard") %>

<article>
  <section class="problems">
    <div class="container">
      <h2>Remote teams er godt, men...</h2>
      <p>
        Fjernarbejde og fleksible udviklere, der arbejder hjemmefra er moderne og trendy, men træerne vokser ikke ind i himlen.
      </p>

      <p>
        Det er svært at overskue, hvem der arbejder på hvad, og du er bange for at udviklernes tid ikke udnyttes optimalt - enten ved at de ikke arbejder på de vigtigste opgaver, at de løser opgaverne forkert, eller at der arbejdes på opgaver, der ikke passer bedst til deres skills.
      </p>

      <p>
        Der er flaskehalse i forbindelse med beskrivelse af opgaver og tildeling af opgaver til udviklerne, som bidrager til forvirring og risiko for spildt tid.
      </p>
    </div>
  </section>

  <section class="dream">
    <div class="container">
      <h2>Få overblik og produktiviteten tilbage</h2>
      <p>
        Drømmen er at få etableret udviklingsteamet som et selvkørende, effektivt og motiveret team, der samarbejder som en enhed i stedet for en bunke uafhængige udviklere.
      </p>

      <p>
        Vi etablerer og udvikler en proces, der passer til din virksomhed, hvor alle får indblik i, hvad der laves og hvem der laver hvad. Det gør det muligt for forretningen at demonstrere fremgang over for investorerne, og udviklerne får mulighed for at placere de enkelte opgaver i den store sammenhæng.
      </p>
    </div>
  </section>
</article>

<section class="overview">
  <div class="container">
    <div class="columns tripple">
      <div class="column">
        <h2>Oplagt til...</h2>
        <p>Den etablerede virksomhedsejer med eksisterende, remote udviklere, som gerne vil optimere udviklingsforløbet, minimere spild og have produktiviteten tilbage.</p>
      </div>

      <div class="column services">
        <h2>Det får du</h2>
        <ul>
          <li>Styr på dine remote udviklere og programmører</li>
          <li>Gladere og mere produktive udviklere</li>
          <li>Team-leder med 10 års erfaring</li>
          <li>Ugentligt planlægningsmøde</li>
          <li>Veldefineret proces</li>
        </ul>
      </div>

      <div class="column purchase">
        <h2>Det investerer du</h2>
        <ul>
          <li>9.500 kr. pr måned pr medarbejder</li>
        </ul>
      </div>
    </div>
  </div>
</section>
