div class="columns quad"
  div class="column person-image"
    == image_tag('people/2026/jakob.jpg', :alt => "Jakob Skjerning", :style => "width: 100%", :loading => "lazy")
  div class="column person-image"
    == image_tag('people/2026/ole.jpg', :alt => "Ole Palm", :style => "width: 100%", :loading => "lazy")
  div class="column person-image"
    == image_tag('people/2026/rasmus.jpg', :alt => "Rasmus Nissen", :style => "width: 100%", :loading => "lazy")
  div class="column person-image"
    == image_tag('people/2026/michael.jpg', :alt => "Michael Pedersen", :style => "width: 100%", :loading => "lazy")
