meta property="og:description" content="We build and grow the tech behind successful SaaS startups."
meta property="og:image" content="#{image_url('/images/logos/substance_lab.png')}"
meta property="og:locale" content="en_US"
meta property="og:title" content="Substance Lab"
meta property="og:url" content="http://substancelab.com"
