//  Substance Lab color theme?

$base-color: rgba(0,237,102,1)
$accent-color: rgba(0,255,140,1)

$body-color: #f4f5eD
$body-text-color: #223322
$link-color: $base-color
$link-hover-color: $accent-color
$link-visited-color: darken($link-color, 10%)
