//  Substance Lab color theme?
//  --------------------------
//
//  Kuler-generated palette, complementary with #326880 as base
//
//  64ADCC - Bright blue with green'ish hue
//  0F2933 - Dark blue
//  326A80
//  33200A - Dark brown
//  805C32 - Light brown


/* Define some colors */
$base-color: rgba(0,238,75,1)
$accent-color: rgba(0,255,123,1)

$substance_lab_blue: $base-color
$error_color: #dd2222

$body_color: #f4f5eD
$body_text_color: #223322
$link_color: $base-color
$link_hover_color: $accent-color
$link_visited_color: darken($link_color, 10%)
