meta property="og:image" content="#{yield_content(:open_graph_image) || image_url('/images/logos/substance_lab.png')}"
meta property="og:locale" content="#{config.locale}"
meta property="og:type" content="website"
meta property="og:url" content="#{config.protocol}#{config.domain}#{current_page.url}"
