<% slot :masthead do %>
  <div class="container">
    <h1>Deleøkonomi der fungerer</h1>
  </div>
<% end %>

<section>
  <div class="container">
    <p class="intro">
      <a href="https://gomore.dk">GoMore</a> har succes. Med 30+
      medarbejdere og millioner af venturekapital i ryggen skal ting gå
      hurtigt. Og med mere end en million brugere skal ting blive ved med at
      fungere.
    </p>

    <p>
      Successen er kommet på nogle få år, og væksten resulterede i et lettere
      kaotisk udviklingsforløb. Der var flaskehalse i forbindelse beskrivelse
      og tildeling af opgaver, forvirring og risiko for spildt tid.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>Målet: Struktur og gennemsigtighed</h2>

    <p>
      Substance Lab blev involveret i projektet for at gøre udviklingsteamet
      på 6 dygtige udviklere til et selvkørende, effektivt og motiveret team,
      der samarbejdede som én enhed.
    </p>

    <p>
      Sammen med teamet fik Substance Lab etableret og udviklet en proces,
      hvor alle har indblik i, hvad der laves og hvem der laver hvad. Det
      blev muligt for forretningen at vedholde fremgangen og væksten, og
      udviklerne fik mulighed for at placere de enkelte opgaver i den store
      sammenhæng.
    </p>

    <%= image_tag "work/gomore/floating_search.png", :width => "100%", :alt => "GoMore.app on an iPhone" %>
  </div>
</section>

<section class="international">
  <div class="container">
    <h2>En global spiller</h2>

    <p>
      Mens Substance Lab var en del af GoMores team blev produktet bredt ud
      fra kun at være i Danmark til at fylde hele Skandinavien og indtage
      Spanien og Frankrig.
    </p>

    <p>
      Udvidelse og vækst af den slags er ikke noget, man bare gør fra den ene
      dag til den anden. Det kræver planlægning og en sans for de detaljer,
      som ikke nødvendigvis er synlige, når man udvikler til bare ét land.
    </p>

    <p>
      Her kunne <a href="https://gomore.dk">GoMore</a> drage fordel af
      Substance Labs erfaring med lignende udvidelser og
      internationaliseringer fra andre projekter, som fx
      <a href="/work/eventzonen-dk/">Eventzonen</a> og
      <a href="/work/lokalebasen/">Lokalebasen</a>.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <div class="statistics">
      <div class="statistics-figure">
        <div class="statistics-number">5</div>
        <div class="statistics-label">Lande</div>
      </div>

      <div class="statistics-figure">
        <div class="statistics-number">30</div>
        <div class="statistics-label">Medarbejdere</div>
      </div>

      <div class="statistics-figure">
        <div class="statistics-number">1.000.000+</div>
        <div class="statistics-label">Brugere</div>
      </div>
    </div>
  </div>
</section>
