
<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
<div class="newsletter-signup" id="mc_embed_signup">
  <h2>Følg med fra sidelinjen</h2>

  <p>
    Modtag ekspert-viden om at bygge digitale produkter og webløsninger direkte i
    din indbakke.
  </p>

  <%= localized_partial "layouts/mailchimp_signup_form", :locals => {:audience_id => audience_id} %>
</div>
