
<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
<div class="newsletter-signup" id="mc_embed_signup">
  <h2>Følg med fra sidelinjen</h2>

  <p>
    Modtag ekspert-viden om at bygge digitale produkter og webløsninger direkte i
    din indbakke.
  </p>

  <form action="https://substancelab.us8.list-manage.com/subscribe/post?u=ffdc71df65239ccdc72cd6ee6&amp;id=<%= audience_id %>" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label for="mce-EMAIL">E-mail</label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>

      <div class="mc-field-group">
        <label for="mce-FNAME">Fornavn</label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ffdc71df65239ccdc72cd6ee6_63e2b402de" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Tilmeld til nyhedsbrev" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text'; /*
  * Translated default messages for the $ validation plugin.
  * Locale: DA
  */
  $.extend($.validator.messages, {
                        required: "Dette felt er påkrævet.",
                        maxlength: $.validator.format("Indtast højst {0} tegn."),
                        minlength: $.validator.format("Indtast mindst {0} tegn."),
                        rangelength: $.validator.format("Indtast mindst {0} og højst {1} tegn."),
                        email: "Indtast en gyldig email-adresse.",
                        url: "Indtast en gyldig URL.",
                        date: "Indtast en gyldig dato.",
                        number: "Indtast et tal.",
                        digits: "Indtast kun cifre.",
                        equalTo: "Indtast den samme værdi igen.",
                        range: $.validator.format("Angiv en værdi mellem {0} og {1}."),
                        max: $.validator.format("Angiv en værdi der højst er {0}."),
                        min: $.validator.format("Angiv en værdi der mindst er {0}."),
                        creditcard: "Indtast et gyldigt kreditkortnummer."
  });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
