meta property="og:description" content="Eksperter i at udvikle teknikken bag succesfulde online startups."
meta property="og:image" content="#{image_url('/images/logos/substance_lab.png')}"
meta property="og:locale" content="da_DK"
meta property="og:title" content="Substance Lab"
meta property="og:url" content="http://substancelab.dk"
