- content_for :masthead do
  h1 Mobilt design er ikke valgfrit

section
  .container
    markdown:
      Når 50% af ens kunder benytter en eller anden form for mobilenhed, er det ikke
      valgfrit om man vil optimere ens webløsning til dem -- det er en nødvendighed.

      Den realisering havde [Børn i byen](http://bornibyen.dk) i slutningen af 2013, hvorefter en længere
      proces blev sat igang.


section
  .container
    blockquote.quote
      p
        | Det ser super ud på min Samsung Galaxy III
      .author
        | Børn i byen bruger

section
  .container
    markdown:
      ## Ét website til alle enheder

      I tæt samarbejde med UX'er, brugervenlighedseksperter og designere
      udviklede Substance Lab et nyt og funklende website, der tilpasser sig
      den enhed, brugeren sidder med.

      Ét website betyder at der kun er ét site at vedligeholde og ét sted at
      holde fokus -- det er simplere og billigere og nemmere for brugerne.

      ## Smertefri lancering

      Når man lancerer en så omfattende ændring af et site, må man også forvente, at
      brugerne råber op og at der skal rettes masser af småfejl i dagene efter
      lanceringen.

      Stik mod forventningen løb lanceringen smertefrit og brugerne har været
      overvældende glade og positive for resultatet.

section
  .container
    blockquote.quote
      p
        | Wauw, det ser godt ud!
      .author
        | Børn i byen bruger

section
  .container
    markdown:
      ## Resultatet

      Tallene taler for sig selv: Børn i byens mobilbrugere kunne næsten ikke få armene ned.

      Efter lanceringen steg mobilbrugernes antal læste sider med 18% og de spenderede i gennemsnit 26% mere tid på sitet.

      På et reklamefinansieret website som [Børn i byen](http://bornibyen.dk) er flere læste sider og mere engagement lig med flere penge på bundlinien.
