.section
  .container
    markdown:
      ## Mobilt design er ikke en valgmulighed

      Når 50% af ens kunder benytter en eller anden form for mobil enhed, er det ikke
      valgfrit om man vil optimere ens løsning til dem - det er en nødvendighed.

      Den realisering havde Børn i byen i slutningen af 2013, hvorefter en længere
      process blev sat igang.


section.quote
  .container
    blockquote
      p
        | Det ser super ud på min Samsung Galaxy III
      .author
        | Børn i byen bruger

.section
  .container
    markdown:
      ## Ét website til alle enheder

      I tæt samarbejde med UX'er, brugervenligheds-eksperter og designere
      implementered Substance Lab et nyt og funklende website, der tilpasser sig
      den enhed, brugeren sidder med.

      ## Smertefri lancering

      Når man lancerer en så omfattende ændring af et site, må man også forvente, at
      brugerne råber op og at der skal rettes masser af småfejl i dagene efter
      lanceringen.

      Stik mod forventningen løb lanceringen smertefrit og brugerne har været
      overvældende glade og positive for resultatet.

section.quote
  .container
    blockquote
      p
        | Wauw, det ser godt ud!
      .author
        | Børn i byen bruger

.section
  .container
    markdown:
      ## Resultaterne

      Tallene taler for sig selv: Børn i byens mobil-brugere kunne næsten ikke få armene ned.

      Efter lanceringen steg deres antal læste sider med 18% og de spenderede i gennemsnit 26% mere tid på sitet.

      For et reklame-finansieret website som Børn i byen er flere sider læst og mere engagement lig med flere penge på bundlinien.

markdown:
  Tal fra Google Analytics (ugen efter lancering sammenlignet med ugen før)

  * Sider pr. besøg: +10,48% (fra 2,87 til 3,17)
  * Gns besøgsvarighed: +11,83% (fra 2m02 til 2m16)
  * Afvisningsprocent: -6,56% (fra 64,03% til 59,83%)

  Mobilt alene:

  * Sider pr. besøg: +18,03% (fra 2,10 til 2,48)
  * Gns besøgsvarighed: +25,54% (fra 1m23 til 1m45)
  * Afvisningsprocent: -10,72% (fra 70,68% til 63,10%)


  ~Lessons learned?


