- content_for :masthead do
  .container
    h1 Sparet tid og øget kvalitet

section
  .container
    p.intro
      |
        4 medarbejdere, millioner af enheder på skibe fra Kina, og et utal af Excel ark. Det var hverdagen i HH Components, hvor der blev brugt meget tid på at ajourføre lagersystem og ordre-statusser.

section
  .container
    markdown:
      ## Processerne var allerede på plads

      Med et lille, fleksibelt team til at holde styr på de mange ordrer og leverandører  er veldefinerede processer et nødvendigt omdrejningspunkt hos HH Components.

      Ikke desto mindre blev stadig mere tid brugt på manuelt at håndtere indkommende data i Excel ark fra leverandører og ajourføre lagersystem og ordre-statusser. Det er en langsommelig proces med risiko for tastefejl eller at man ikke lige får klikket det korrekte sted og optog mange timer hver dag.

    aside.factbox.pull-right
      .factbox-body
        h2 Hvem er HH Components?

        |
          #{link_to("HH Components", "https://hhcomponents.com")} fungerer som ekstern indkøbsafdeling i Kina for flere producenter og grossister i Europa. De modtager leverancer hver uge fra producenterne i Kina og fordeler leverancerne til partnere over hele Europa.

      table.factbox-table
        tr
          th Website
          td <a href="https://www.hh-components.com" title="HH Components">hh-components.com</a>

    markdown:
      ## Løsningen

      I tæt samarbejde med den ansvarlige medarbejder gennemgik vi de daglige arbejdsgange og analyserede de processer, der gav mest mening at automatisere. Hvor kunne vi nemmest spare mest tid?

      Substance Lab udviklede derefter en skræddersyet kontorrobot, som kan modtage de Excel-dokumenter og automatisk ajourføre de relevante ordrer i lagersystemet.

    markdown:
      ## Resultatet

      Fra at være en proces, der optog timevis af arbejde hver eneste dag, kan medarbejderne nu fordre robotten med Excel-dokumenter og lade den efterligne den definerede arbejdsgang på en ensartet og effektiv måde - hver gang.

      Det har gjort det muligt for HH Components at håndtere mere end dobbelt så mange ordrer uden at skulle skalere antallet af medarbejdere tilsvarende. Samtidigt har det reduceret afhængigheden af enkelte medarbejdere, da processen nu kan varetages online af flere personer.

