- content_for :masthead do
  .container
    h1 "Ambitionen er at skabe en portal, der samler alle erhvervslejemål i Danmark"

article
  .container

    markdown:
      Når målet er at bliver Danmarks førende portal for formidling af
      erhvervslokaler, bygger man ikke sin forretning på en standard hyldevare.

      Der skal bygges nøjagtigt det, der passer til ens forretning, og der skal
      bygges til fremtiden.

      ## Iterativ udvikling

      Lokalebasen.dk ved, at det bedste produkt udvikles ved at få idéer
      realiseret hurtigt og placeret på skærmene foran rigtige brugere. Feedback
      fra de personer, der faktisk bruger og betaler for ens løsning, er
      uvurderlig.

      Ved dagligt at lægge ændringer i drift har Substance Lab sikret at
      Lokalebasen.dk konstant har kunne drage erfaringer fra deres kunder og
      løbende forbedre deres webløsning.


      ## 5 år, samme platform

      For Lokalebasen.dk har det været vigtigt at få webløsning, der er stabil
      og fremtidsikret; Når der er tale om ens forretningsgrundlag, kan det
      ikke betale sig at springe over, hvor gærdet er lavest.

      Lokalebasens platform er udviklet med automatiske tests og kritiske
      øjne på kvaliteten af koden. Det betyder, at den samme kode, der blev sat
      i drift i 2009, stadig kører store dele af Lokalebasen.dk i 2014.


      ## Lokal erfaring

      For Lokalebasen.dk var det vigtigt at finde en lokal leverandør med bred
      erfaring fra udvikling af webløsninger.

      Det fandt de i Substance Lab og fik samtidig en samarbejdspartner, der var
      i stand til at udfordre de forretningsmæssige antagelser og skære igennem
      til den enkle tekniske løsning.

  section.graph
    .graph-mask
      canvas#gross-profit

  .container
    markdown:

      ## Resultatet

      5 år efter lancering er Lokalebasen.dk blevet en succesfuld forretning.
      Den oprindelige kodebase danner stadigt grundlag.

      * 3 lande
      * 5 udviklere
      * 10 ansatte
      * 750 udlejninger om året [1]
      * 70.000 månedlige besøgende [1]


      ## Udbygning af teamet

      ## Internationalt

      ## Integrationer

      ## Resultatet

      10+ ansatte, tilstedeværelse i 5 lande.

      * Omsætning
      * Antal ansatte
      * Flere lande

      [1]: http://www.lokalebasen.dk/nyheder/fortsat-stigende-udlejningstal-og-markant-omsaetningsfremgang-i-2013


== javascript_include_tag "Chart.min.js"

- content_for :scripts do
  javascript:
    function GrossProfitGraph(element, labels, values) {
      this.hasBeenAnimated = function(element) {
        return $(element).hasClass('in');
      };

      this.resetAnimation = function() {
      };

      this.setupWaypoint = function() {
      };

      this.startAnimation = function() {
        if (this.hasBeenAnimated(this.element())) {
          return false;
        };

        this.element().addClass('in');
      };


      // Constructor

      this.values = values;
      this.element = $(element);
      this.labels = labels;

      var width = this.element.width();
      var canvas = this.element.find('canvas');
      canvas.prop({
        height: 300,
        width: width
      });

      //Get the context of the canvas element we want to select
      var context = canvas.get(0).getContext("2d");

      var areaColor = "rgba(50,106,128,0.3)";
      var lineColor = "rgba(50,106,128,1)";

      var data = {
        labels: labels,
        datasets: [{
          data: values,
          fillColor: areaColor,
          strokeColor: lineColor,
          pointColor: lineColor,
          pointStrokeColor: lineColor,
        }]
      };

      var options = {
        bezierCurve: false,
        scaleShowLabels: false,
      };

      var grossProfitChart = new Chart(context).Line(data, options);
    };

    $(document).ready(function() {
      var graph = new GrossProfitGraph(
        $('.graph'),
        ["2009", "2010", "2011", "2012"],
        [8, 1194, 1542, 1658]
      );
    })
