.footer
  +full-width

  overflow: hidden
  padding-bottom: 2em

  .container
    +separator-top
    margin-top: 0
    padding-top: 1em
  .contents, .legalese
    float: left
    font-size: 0.8em
    width: 42%

  .contents
    float: right
    .link-list
      clear: both
      float: right
      margin: 0
      text-align: right
