// MailChimp Form Embed Code - Classic - 12/17/2015 v10.7
//
// Originally from https://cdn-images.mailchimp.com/embedcode/classic-10_7.css

#mc_embed_signup
  input
    border: 1px solid #abb0b2
    border-radius: 3px
    &:focus
      border-color: #333333
  .button
    &:hover
    background-color: $base-color
    border-radius: 4px
    border: 0 none
    clear: both
    color: #ffffff
    cursor: pointer
    display: inline-block
    font-size: 1em
    font-weight: normal
    margin: 0 5px 10px 0
    padding: 0.5em 1em
    text-align: center
    text-decoration: none
    transition: all 0.23s ease-in-out 0s
    vertical-align: top
    white-space: nowrap
    width: auto
      background-color: $accent-color
  .mc-field-group
    clear: left
    min-height: 50px
    padding-bottom: 3%
    position: relative
    width: 96%

#mc_embed_signup
  .mc-field-group
    label
      display: block
      font-size: 0.7em
      letter-spacing: 0.05em
      text-transform: uppercase
    input
      box-sizing: border-box
      display: block
      font-size: 1em
      padding: 0.5em
      width: 100%
  .clear
    clear: both
  .mc-field-group.input-group
    ul
      list-style: none
      margin: 0
      padding: 5px 0
      li
        display: block
        margin: 0
        padding: 3px 0
    label
      display: inline
    input
      border: none
      display: inline
      width: auto
  div
    &#mce-responses
      clear: both
      float: left
      margin: 0 5%
      overflow: hidden
      padding: 0em .5em 0em .5em
      top: -1.4em
      width: 90%
    &.response
      float: left
      font-weight: bold
      margin: 1em 0
      padding: 1em .5em .5em 0
      top: -1.5em
      width: 80%
      z-index: 1
  #mce-error-response
    display: none
  #mce-success-response
    color: #529214
    display: none
  label.error
    display: block
    float: none
    padding: 0.25em 0
    text-align: left
    width: auto

#mc-embedded-subscribe
  clear: both
  display: block
  margin: 1em 0 1em 5%
  width: auto

#mc_embed_signup
  #mc-embedded-subscribe-form
    div.mce_inline_error
      background-color: rgba(255, 255, 255, 0.85)
      border-radius: 3px
      color: #e85c41
      display: inline-block
      font-size: 14px
      font-weight: normal
      padding: 0.25em 0
      z-index: 1
    input.mce_inline_error
      border: 2px solid #e85c41
