markdown:
  Webudvikler, der er drevet af både nysgerrighed og en interesse for kode, der
  fører til resultater. 

  En baggrund indenfor grafisk design giver Ole en sjælden ballast blandt
  programmører; kreativitet kombineret med teknisk snilde.
