p Som nyuddannet webudvikler er Rasmus ambitiøs og arbejder målrettet for at levere den bedste løsning og det bedste produkt.
p Om det er komplekse projekter eller hjælp til at optimere eksisterende systemer, er Rasmus dedikeret til opgaverne.
