p
  |
    Substance Lab er et digitalt udviklingshus som realiserer forretningsidéer
    på internettet.

p
  |
    I en unik kombination af forretningsfokus, teknisk excellence,
    brugerindsigt og erfaring skaber Substance Lab profitable, innovative og
    brugervenlige webløsninger.
