p Jakob er en alsidig webudvikler, der brænder for lækker kode, og har sans for forretning og brugervenlighed.
p
  |
    Han er Ruby on Rails ekspert og har arbejdet professionelt med
    programmering indenfor en række teknologier i mere end
    #{Time.now.year - 2000} år.
