p Jakob er en alsidig webudvikler, der brænder for lækker kode, og har sans for brugervenlighed og godt design.
p Han har arbejdet professionelt med webudvikling siden år 2000 og er fokuseret på Ruby on Rails programmering.
