blockquote.quote
  p Jakob & co. er blandt de allerbedste herhjemme. Punktum. Jeg har sjældent mødt så erfarne, professionelle og generelt bare pisseseje (Rails)udviklere.
  .author Casper Klenz-Kitenge &mdash; Creative Director, Pilot
