---
title: "Job: Ruby on Rails udvikler"
description: "Vi vil gerne arbejde med dig og Ruby, Rails, PostgreSQL, Tailwind, Slim, Stimulus, Turbo, agile, remote, Git, Heroku, RSpec, ViewComponents"
---
- content_for :masthead do
  .container
    .subtitle Vi søger...
    h1 Senior backend udvikler

- masthead_image("v1616488355/substancelab-website/empty_desk")

article
  .container
    .article-intro
      | Vi leder efter en skarp Ruby on Rails udvikler, der ligesom os, mener at web-platformen er kommet for at blive, og som ønsker at være med til at udvikle webapplikationer, der giver mening for både brugerne og kundernes bundlinje.

    markdown:
      Opgaverne er varierede og spænder over definition og programmering af nye features, integration til eksterne systemer, forbedring af frontend kode og meget mere.

      Du kommer til at indgå i et team med 2 andre udviklere. Vi nyder at levere lækker funktionalitet til kunderne, og vi går op i at koden bag funktionaliteten også er lækker og dækket af tests.

      Vi er blandt veteranerne indenfor Ruby og Rails i Danmark og har været med til at indføre og udbrede Rails i Danmark. Du får mulighed for at arbejde med Danmarks nok mest erfarne Ruby on Rails udviklere.

      ### Ansvarsområder

      * Udvikling af nye features for vores kunder.
      * Drift og vedligehold af eksisterende webløsninger.
      * Tone-angivende ved fremtidige valg af teknologier.

      ### Vi forventer...

      * Du mestrer Ruby og Rails - eller du mestrer andre sprog og er villig til at lære Ruby og tilføje det til listen af sprog, du mestrer.
      * Du har det bedst, når du skriver tests til din kode.
      * Du skriver læsbar og pragmatisk kode.
      * Du kan administrere frihed under ansvar.
      * Du kan hurtigt sætte dig ind i igangværende projekter og problemstillinger.
      * Du har erfaring med Linux og serveropsætning.

      ### Vi tilbyder...

      * Projekter med succes, hvor dit bidrag kommer til at gøre en stor forskel.
      * Kollegaer med passion og faglig stolthed.
      * Rigtigt remote arbejde.
      * Lille, uformelt team.
      * Fredage med tid til egne projekter, open source, uddannelse.
      * Transparens og tillid.

    h2 Ansøgning

    p
      |
        Send din ansøgning til #{mail_to("jakob@substancelab.com", nil, :subject => "Erfaren Ruby on Rails udvikler")}. For yderligere information er du velkommen til at kontakte Jakob på samme adresse eller telefonisk på 7199 0999 - vi giver gerne en kop kaffe og en snak.
