/* Links */
a
  color: $link-color
  text-decoration: none
  +transition(0.2s all ease)

  &:visited
    color: $link-visited-color

  &:focus,
  &:hover
    color: $link-hover-color
    +transition(none)
    border-bottom: 2px solid $link-hover-color

  &.image
    background: inherit
    padding: inherit
    +border-radius(inherit)

footer
  .contents
    a:hover
      border-width: 1px !important

.more
  background-color : $base-color
  color: #ffffff
  display: block
  font-weight: bold
  padding: 5px 10px
  text-align: center
  text-decoration: none
  +border-radius(5px)
