p Jakob is a versatile web developer with a passion for clean code, a keen eye for design and a strong sense of usability.
p He has worked professionally with web development since 2000 and is focused on Ruby on Rails development.
