markdown:
  Web developer, driven by both curiousity and an interest for code, which will lead to results.

  With a background as a graphic designer Ole has a rare quality among programmers;
  creativity as well as coding skills.
