h2 Automation
p
  |
    Looking up how long it takes to travel from one place to another is easy.
    Doing it for thousands of sources and yet thousands of destinations gets tedious real fast.
p
  |
    That's why Mapicture asked Substance Lab build a tool to automate the process.
    With it, a process that used to take days is now started with a few clicks and results are returned within hours.

h2 Mapping

p
  |
    Simply collecting travel durations and putting them into a database for later analysis wasn't enough, though.
    Mapicture wanted the tool to analyse the data and visualize them in a geographic interface.
p
  |
    The analysis tool integrates with Mapictures existing geocoding and mapping infrastructure to create unique visualizations that provide Mapictures customers with never before seen insights into the geographical coverage of public transportation.
