<div class="newsletter-signup">
  <div class="newsletter-signup-teaser">
    <h2>Kom godt i gang</h2>

    <p>
      Få vores praktiske guide til at bygge digitale produkter - samt løbende
      ekspert-viden direkte i din indbakke.
    </p>
  </div>
  <%= image_tag(cloudinary_image_url("v1781860466/substancelab-website/guide.jpg"), alt: "Guide til at bygge digitale produkter", class: "guide-image") %>

  <%= localized_partial_if_present "layouts/bento/guide_signup_form" %>
</div>
