---
title: "Seed: Fra idé til virkelighed"
description: "Skræddersyet, fungerende software, som du kan vise frem til banken, dine investorer og kommende kunder og bygge din virksomhed på."
---
- content_for :masthead do
  .container
    h1 Seed

- masthead_image("v1613744727/substancelab-website/sprout")

article
  .container
    .article-intro
      | Skræddersyet, fungerende software, som du kan vise frem til banken, dine investorer og kommende kunder og bygge din fremtidige virksomhed på.

    markdown:
      Din drøm bliver til virkelighed, når du tager det første skridt sammen med os.

      ## Det får du

      - En online løsning, der er klar til at tage imod de første kunder
      - Skræddersyet fungerende software i minimalistisk design
      - Bevis på at din idé fungerer og skaber værdi
      - Et solidt fundament for din forretning
      - Fuld ejerskab over koden
      - Adgang til programmører med mange års erfaring i at bygge digitale produkter

      ## Tidslinje

      Selve [Seed](/services/seed/)-projekt løber over 1 måned fra udviklingen begynder:

      1. Workshop: Projekt plan etableres, opgaver prioriteres (1 dag)
      2. Udvikling: Kerne-funktionerne (1 uge)
      3. Møde: Gennemgang af uge 1
      4. Udvikling (1 uge)
      5. Møde: Gennemgang af uge 2
      5. Launch: Dit produkt skal ud i verden
      6. Udvikling: Justeringer/finpudsning (1 uge)
      5. Møde: Gennemgang af uge 3
      8. Udvikling: Yderligere finpudsninger (1 uge)
      9. Møde: Afslutning

      Når måneden er ovre har du en fungerende løsning, der ligger online, og er klar til at tage imod de første kunder.

      ## Det er bare starten

      Med dit [Seed](/services/seed/)-projekt på plads er du klar til at møde fremtiden. Du kan for eksempel udvide med...

      - Skræddersyet design
      - Integration med regnskabssystem
      - Automatiserede betalinger
      - Email automatisering

      Eller alle de andre idéer og behov, som det viser sig, at dine kunder har.

      ## Det investerer du

      Du skal forvente at bruge en del af din tid på det: Én hel dag til den indledende workshop, 4 løbende møder á 2 timer plus løbende kontakt under udviklingen.

      Det koster dig 95.000 kr at tage det første skridt mod din fremtidige forretning. Hvad venter du på?
