<% case_study_masthead(project) %>

<section>
  <div class="container">
    <h2>Experienced geek needed</h2>
    <p>
      The founder of <a href="<%= project["website"] %>"><%= project["name"] %></a>
      has years of experience from the entertainment industry where he saw a need and wanted to fill it.
    </p>

    <p>
      Having no previous experience building web applications, let alone online SaaS products, he brought in Substance Lab to spearhead the technical side of the project.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>The path to release</h2>
    <p>
      We chopped the initial product brief into manageable features. They were then estimated, prioritized, and entered into the internal project management tool.
    </p>
    <p>
      Over the following months we collaborated closely with development subcontractors, a designer, and SEO experts to build the final product.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>A work of collaboration</h2>
    <p>
      Substance Lab helped figure out what features should be built in what order, estimate and evaluate usability concerns, and choosing third party providers for hosting and payments.
    </p>

    <p>
      <a href="<%= project["website"] %>"><%= project["name"] %></a>
      is designed by <a href="http://www.martin-fabricius.dk/">Martin Fabricius</a>
      and built by Substance Lab in cooperation with a team of select subcontractors.
    </p>
  </div>
</section>
