<% case_study_hero(project) %>

<section>
  <div class="container">
    <blockquote class="quote">
      <p>
        Substance Lab delivered not only a first class product, but also a user experience knowledge that helped this project become as good as it possibly could. Jakob possessed the ability to foresee the challenges of a project, and act accordingly.
      </p>
      <div class="author">
        David Pepke, Web Content Manager, SBS Radio
      </div>
    </blockquote>
  </div>
</section>

<section>
  <div class="container">
    <h2>The project</h2>

    <%= image_tag 'work/gamekillers/homepage.jpg', :class => 'screenshot', :alt => 'Screenshot of the websites homepage' %>

    <p>
      The Gamekillers is a TV series originally aired on <a href="http://www.mtv.com/shows/gamekillers/series.jhtml">MTV</a>
      working as branded content for Axe Dry. The TV series aired in Denmark on
      <a href="http://kanal5.dk/">Kanal 5</a> and was promoted on
      <a href="http://www.thevoice.dk/">the Voice Radio</a>
      both of which are <a href="https://da.wikipedia.org/wiki/SBS_Radio">SBS Radio</a> properties.
    </p>

    <p>
      As part of the promotion for the TV series SBS Radio wanted a campaign website where viewers and listeners could be introduced to the "Gamekillers" and compete against each other with the story of their worst dates.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>Fixed and tight deadline</h2>

    <%= image_tag 'work/gamekillers/gallery_large.jpg', :class => 'screenshot', :alt => 'Screenshot of the Gamekillers website featuring the "Balladeer" character' %>

    <p>
      Due to programming concerns the deadline for the launch of the website was fixed and SBS Radio had a long wishlist of features they wanted implemented.
    </p>

    <p>
      The first thing we did was go through their feature list, prioritizing and ruthlessly cutting everything that could be cut. When the deadline is fixed, the scope needs to be flexible and it becomes very important that no time is wasted building unnecessary fluff.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>Iterative development</h2>

    <%= image_tag 'work/gamekillers/rate_the_date.jpg', :class => 'screenshot', :alt => "Screenshot of user-submitted ratings on the Gamekillers website" %>

    <p>
      Within a week of the project kickoff meeting, Substance Lab delivered a running website. In the weeks thereafter it was refined and improved, and a week before the deadline SBS Radio had a feature complete website to fine tune the remaining details.
    </p>
  </div>
</section>

<section>
  <div class="container">
    <h2>Quick feedback cycles</h2>

    <p>
      Rapid development with many releases and tight deadlines increases the necessity for frequent and quick communication. Throughout the project
      <a href="http://basecamphq.com">Basecamp</a>
      was used to share thoughts and files and feedback.
    </p>
  </div>
</section>
