<% case_study_hero(project) %>

<section class="project">
  <div class="container">
    <h2>The project</h2>
    <p>
      <a href="http://lokalebasen.dk">Lokalebasen</a> approached Substance Lab with nothing but a bunch of thoughts and ideas written down on 6 pieces of paper. Now, they are one of - if not the - premier place to find commercial office space or production facilities for leasing in Denmark.
    </p>
  </div>
</section>

<div class="screenshot">
  <div class="container">
    <%= image_tag 'work/lokalebasen/whiteboard.jpg', :alt => "Whiteboard showing a bunch of diagrams and timelines" %>
  </div>
</div>

<section class="process">
  <div class="container">
    <h2>The process</h2>
    <p>
      Carving the project into 2 week iterations allowed Lokalebasen to adjust their priorities as the project progressed, while keeping up to date with the progress, and the cost under control.
    </p>

    <p>
      With a sharp focus on implementing the features that mattered here and now, Lokalebasen had website visitors and revenue long before the application was complete.
    </p>
  </div>
</section>

<section class="outcome">
  <div class="container">
    <h2>The outcome</h2>
    <p>
      The application launched publicly in April 2009 after half a year of initial development. Only two years after its inception, Lokalebasen has become a highly profitable company - both for its owners and its customers.
    </p>
  </div>
</section>
