@import "mixins/separator"

.article-list
  overflow: hidden

  .article-list-article
    +separator-bottom
    margin-bottom: 2em
    padding-bottom: 1em
  .entry-title
    margin-top: 0
  .published
    color: lighten($body_text_color, 50%)
    &:after
      content: ": "

  .more
    &:link, &:visited
      color: #ffffff
    display: inline-block
    text-shadow: none
