@import "mixins/separator"

.blog-article
  .content > p:first-child
    +separator-bottom
    border-style: dashed
    +lora
    font-size: 1.6em
    line-height: 1.6em
    margin-bottom: 2rem
    padding-bottom: 2rem
  p:first-child + h2
    margin-top: 0em

  aside
    +separator
    margin: 1em 0
    padding: 1em 0
    .blog-article-meta
      $_meta_color: lighten($body_text_color, 50%)
      color: $_meta_color
      text-align: center

  nav
    overflow: hidden
    padding: 1em 0
    a
      padding: 0
    .next, .previous
      min-height: 1em
      width: 45
    .next
      float: right
      text-align: right
      a:after
        content: " »"
    .previous
      float: left
      a:before
        content: "« "

.blog-article-headline
  padding: 1em 0
  text-align: center
