@import "mixins/separator"

.case_study
  overflow-x: hidden

  .screenshot
    +full-width
    img
      height: auto
      margin: 0 0 2em 0
      width: 100%

  header
    img
      display: block
      margin: 2em auto 1em auto

    &.intro
      background-position: 50% 0
      background-repeat: no-repeat
      background-size: cover

      a
        display: inline
        padding: inherit

  .columns
    clear: both
    overflow: visible

    +clear

    .intro
      background: transparent
      color: inherit
      margin-bottom: 0
      padding: 0

  .display-project
    +full-width
    margin-bottom: 4em
    width: 100%
    img
      width: 100%

  .pullout
    margin: 0 2em

  blockquote.pullout
    margin-top: -0.3em
    width: 60%
    .author
      margin-top: -0.4em

  .content
    font-size: 1.6em
    font-weight: 300
    line-height: 1.5em

  .portfolio
    +separator
    .project
      border: 0

