@import "mixins/separator"

.case_study
  overflow-x: hidden

  header
    img
      display: block
      margin: 2em auto 1em auto

    &.intro
      background-position: 50% 0
      background-repeat: no-repeat
      background-size: cover

      a
        display: inline
        padding: inherit

  .columns
    clear: both
    overflow: visible

    +clear

    .screenshot
      img
        width: 100%

    .intro
      background: transparent
      color: inherit
      margin-bottom: 0
      padding: 0

  .display-project
    margin-bottom: 4em
    width: 100%

  .pullout
    margin: 0 2em

  blockquote.pullout
    margin-top: -0.3em
    width: 60%
    .author
      margin-top: -0.4em

  .content
    font-size: 1.6em
    font-weight: 300
    line-height: 1.5em

  .portfolio
    +separator
    .project
      border: 0

.screenshot
  background-color: #ffffff
  border: 1px solid #cccccc
  +box-shadow(rgba(0, 0, 0, 0.2), 0, 2px, 8px)
  float: left
  margin-bottom: 48px /* Must be at least 21px to make room for the box-shadow (6px + 15px) */
  position: relative
  width: 61% /* 230 + 30 + 230 */
  @media #{$breakpoint-desktop}
    width: 100%

  .inner
    background-repeat: no-repeat
    background-position: 0 0
    border: 8px solid #ffffff

  .inner img
    display: block
    height: 280px
    width: 100%
    visibility: hidden

img.screenshot
  border: 8px solid #ffffff

.case .screenshot
  width: 100%

.screenshots
  text-align: center

  a img
    background-color: #ffffff
    border: 1px solid #bbbbbb
    padding: 8px


