@import "mixins/bubble"

.hero
  h1
    font-weight: normal
    margin-bottom: 1em
    text-align: center

  .work
    $_image_size: 350px
    $_small_image_size: $_image_size - 50px
    height: $_image_size
    margin-bottom: 2em
    margin-top: 2em
    position: relative
    @media #{$breakpoint-phone}
      height: $_small_image_size
      margin-bottom: 0
    .sites
      .site
        +bubble($_image_size)
        position: absolute
        @media #{$breakpoint-phone}
          display: none
      .nth-child-1
        left: 0px
        @media #{$breakpoint-phone}
          display: block
          left: 50%
          height: $_small_image_size
          margin-left: $_small_image_size/-2
          width: $_small_image_size
      .nth-child-2
        left: 50%
        margin-left: -$_image_size/2
      .nth-child-3
        right: 0px
