.link-list
  display: block
  list-style-type: none
  overflow: hidden
  &:last-child
    margin-bottom: 0

  a
    padding: 0 0.5em

  li
    display: inline
    margin: 0 1px 0 0
    &::before
      content: "\00B7"
      padding: 0

  li:first-child
    a
      padding-left: 0
    &::before
      content: " "



