.locale-switcher
  @extend .link-list
  @extend %nav-bar-link
  margin-bottom: 0

  li::before
    content: "|"

  .locale
    display: inline
    float: none
    a
      border-radius: 0
      display: inline
      padding: 0
      &:hover
        background: none
        text-decoration: underline

  &.da .da,
  &.en .en
    a
      color: #cccccc
      color: rgba(255,255,255,0.5)
