// Generic masthead element. This wraps the title and subtitle
.masthead
  +full-width
  background:
    color: $substance_lab_blue
    image: url(/images/wedge.png)
    position: 50% 50%
    repeat: no-repeat
    size: 100% 100%
  margin:
    bottom: 2em
    left: 0
    right: 0
  padding-bottom: 2em

  @media #{$breakpoint-desktop}
    padding-top: 1em

  .masthead-container
    @extend .container
    padding:
      bottom: 2em
      top: 2em
    position: relative

  h1, .subtitle
    color: inherit

  .subtitle
    font-weight: normal
    letter-spacing: inherit
    @media #{$breakpoint-desktop}
      font-weight: bold

  .work
    margin-left: 0
    margin-right: 0
