/* Generic masthead element. This wraps the title and subtitle/abstract */
.masthead
  +full-width
  background:
    color: $substance_lab_blue
    position: 50% 0
    repeat: no-repeat
    size: cover
  color: #ffffff
  margin-bottom: 2em
  margin-left: 0
  margin-right: 0
  padding-bottom: 2em

  @media #{$breakpoint-desktop}
    padding-top: 1em

  h1, .subtitle
    color: inherit

  .subtitle
    font-weight: normal
    letter-spacing: inherit
    @media #{$breakpoint-desktop}
      font-weight: bold

  .work
    margin-left: 0
    margin-right: 0
