%nav-bar-link
  background-color: inherit
  border: 0
  +border-radius(1em)
  color: #ffffff
  display: block
  font-weight: 300
  padding: 0 1em
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline
  &:visited
    background-color: inherit
    color: #ffffff
  &:hover
    background-color: $substance_lab_blue / 2
    text-decoration: none

.nav-bar
  +geogrotesque
  +full-width

  color: #ffffff
  display: block
  overflow: hidden
  padding: 1em 0

  a
    @extend %nav-bar-link

  .logo
    color: $body_text_color
    font-weight: bold

  .branding
    float: left
    margin-left: -1em

  nav
    float: right
    margin-right: -1em
    ul
      list-style-type: none
    li
      float: left
      margin-left: 1px

  a.current
    background-color: $substance_lab_blue

