%nav-bar-link
  background-color: inherit
  border: 0
  +border-radius(1em)
  color: $body-text-color
  display: block
  padding: 0 1em
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline
  &:visited
    background-color: inherit
    color: $body-text-color
  &:hover
    background-color: $base_color
    color: #ffffff
    text-decoration: none

.nav-bar
  +geogrotesque
  +full-width

  display: block
  overflow: hidden
  padding: 1em 0

  .logo
    bottom: 0.5em
    display: block
    font-weight: bold
    text-align: center
    position: absolute
    width: 100%

  .branding
    +curve
    color: $body-text-color
    display: block
    float: left
    height: 8.5em
    margin-top: -20px
    position: absolute
    width: 8.5em
    z-index: 1000
    &:hover
      border: 0
      color: #ffffff

  nav
    float: right
    margin-right: -1em
    ul
      list-style-type: none
    li
      float: left
      margin-left: 1px
    a
      @extend %nav-bar-link
