%nav-bar-link
  background-color: inherit
  border: 0
  +border-radius(1em)
  color: $link-color
  display: block
  font-weight: bold
  padding: 0 1em
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline
  &:visited
    background-color: inherit
    color: $link-color
  &:hover
    background-color: $link-color
    color: #ffffff
    text-decoration: none

.nav-bar
  +geogrotesque
  +full-width

  background: $body-color
  display: block
  overflow: hidden
  padding: 1em 0

  .logo
    bottom: 0
    display: block
    font-weight: bold
    font-size: 1.45em
    line-height: 1em
    text-align: center
    padding: 0.5em // Controls the spacing to the edges of the branding box
    position: absolute
    text-indent: 0.15em
    width: 100%
    .substance, .lab
      text-align: left

  .branding
    $_size: 8.5em
    +curve
    color: $body-text-color
    display: block
    float: left
    height: $_size
    margin-top: -20px
    position: absolute
    width: $_size
    z-index: 1000
    &:hover
      border: 0
      color: #ffffff
    @media #{$breakpoint-phone}
      $_size: 1.5em
      height: $_size
      margin-top: 0px
      width: $_size
      .logo
        display: none

  nav
    float: right
    margin-right: -1em
    ul
      list-style-type: none
    li
      float: left
      margin-left: 1px
    a
      @extend %nav-bar-link


  @media #{$breakpoint-desktop}
    .home,
    .locales
      display: none
