@import "mixins/bubble"

$_bubble_size: 300px

// Portfolio page
.portfolio
  +full-width

  .project.columns
    margin-bottom: 41px

  .project
    display: block
    overflow: visible
    position: relative
    @media #{$breakpoint-desktop}
      +separator-bottom
      padding-bottom: 1em
      position: static
    .description
      margin-top: $_bubble_size + 20px
      @media #{$breakpoint-desktop}
        margin-top: 0
        padding-top: $_bubble_size + 20px
    @media #{$breakpoint-desktop}
      margin: 2em 1em

  .site
    +bubble($_bubble_size)
    left: 50%
    margin-left: $_bubble_size/-2
    position: absolute

  .project:nth-child(even) .sidebar
    float: right
    margin-right: 0
  .project:nth-child(even) .screenshot
    float: left
    margin-left: 0

  .clients,
  .technology
    margin-top: 2em
