.quote
  $_spacing: 2.4rem
  font-family: palatino, georgia, times, serif
  font-size: 1.6em
  line-height: 1.67em
  padding-left: $_spacing
  p
    margin-top: 1.8em
    margin-bottom: 0
    &:first-child
      margin-top: 0
  .author
    font-size: 12px
    &:before
      content: '\2014'
  &:before
    content: '\201C'
    display: block
    font-size: 2em
    float: left
    line-height: 1em
    margin-left: -$_spacing
